#message_display {
	color: #00ac7a;
}

.btn-file {
	position: relative;
	overflow: hidden;
}
.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}

.button_delete_syllabus {
	color: #000;
	font: 14px/100% arial, sans-serif;
	position: absolute;
	text-decoration: none;
	text-shadow: 0 1px 0 #fff;
	top: 5px;
	right:20px;
	z-index:10;
}

.button_delete_quiz {
	color: #000;
	font: 14px/100% arial, sans-serif;
	position: absolute;
	text-decoration: none;
	text-shadow: 0 1px 0 #fff;
	top: 5px;
	right:20px;
	z-index:10;
}

.top-buffer { margin-top:0px; }
.top-margin-50 { margin-top:50px; }

.field1{
	margin-bottom:20px;
	width:auto !important;

}

.add_question_button {
	margin-top: 30px;
	margin-left: 3px;
}

#sc_description {
	font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
	font-style: normal;
	font-size: 21px;
	line-height: 1.58;
	letter-spacing: -.003em;
	text-align: justify;
}



#question_div_message {
	display: none;
}


#question_div_message h2 {
	/*color: #2980b9;*/
}

/*
video disable download option
*/



video::-internal-media-controls-download-button {
	display:none;
}
video::-webkit-media-controls-enclosure {
	overflow:hidden;
}
video::-webkit-media-controls-panel {
	width: calc(100% + 30px); /* Adjust as needed */
}



.flashcard_box {
	height: 300px;
	width: 300px;
	margin: 5px;
	border-radius: 5px;
}

.div_1 {
	background-color: #1f518b;
}

.div_2 {
	background-color: #4e355c;
}

.div_3 {
	background-color: #be5b34;
}

.c {

}
/* ANIMATIONS */
.Object, .ObjectContainer a {
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;

	opacity: 1;
	bottom: 0;
	line-height: 200px;
	font-size: 30px;
	color: azure;
}
.ObjectContainer {
	width: 200px;
	height: 200px;
	/*float: left;*/
	display: block;
	position: relative;
	overflow:hidden;
	margin: 5px;
	border-radius: 5px;
}
.ObjectContainer .Object {
	display: block;
	width: 100%;
	height: 100%;
}
.ObjectContainer a {
	position: absolute;
	bottom: -200px;
	left: 0;
	opacity: 0;
	width: 100%;
	line-height: 0px;
	text-align: center;
	vertical-align: middle;
}

.ObjectContainer:hover .Object {
	margin: 2.5%;
	height: 95%;
	width: 95%;
	border-radius: 100px;
	/* -webkit-transform: rotate(100deg);
    -moz-transform: rotate(100deg);
    -ms-transform: rotate(100deg);
    -o-transform: rotate(100deg);
    transform: rotate(100deg); */
}
.ObjectContainer:hover a {
	opacity: 1;
	bottom: 0;
	line-height: 200px;
	font-size: 25px;
}

.header_title {
	color: #fff;
	font-size: 48px;
	text-transform: capitalize;
}

#testing_purpose {
	-webkit-animation-duration: 3s;
	/*-webkit-animation-delay: 10s;*/
	-webkit-animation-iteration-count: infinite;
}





/*
	question modal box position for devices
 */

#question_modal_top {
	left: -53%;
}


@media only screen and (max-width: 959px) {/*ipad     is working  */
	#question_modal_top {
		left: -6%;
	}

}

@media only screen and (max-width: 1440px) {/*mac 15"*/
	#question_modal_top {
		left: -27%;
	}
}

@media only screen and (max-width: 1280px) and (min-width : 800px) {/*mac13"*/
	#question_modal_top {
		left: -18%;
	}
}

@media only screen and (max-width: 1240px) {/*ipad pro*/
	#question_modal_top {
		left: -4%;
	}
}



.div-to-center {
	justify-content: center;
}

.myborder {
	border-style: double;
	border-color: #00ac7a;
}

.top-margin-10 {
	margin-top: 10px;
}

.top-margin-20 {
	margin-top: 20px;
}

.top-margin-30 {
	margin-top: 30px;
}

.top-margin-40 {
	margin-top: 40px;
}


.top-margin-80 {
	margin-top: 80px;
}

.top-margin-100 {
	margin-top: 100px;
}


.container-height {
	min-height: 876px;
}


/*
toggle button style
 */
.onoffswitch {
	position: relative; width: 100px;
	-webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
	display: none;
}
.onoffswitch-label {
	display: block; overflow: hidden; cursor: pointer;
	border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
	display: block; width: 200%; margin-left: -100%;
	transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
	display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
	font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
	box-sizing: border-box;
}
.onoffswitch-inner:before {
	content: "Yes";
	padding-left: 18px;
	background-color: #34A7C1; color: #FFFFFF;
}
.onoffswitch-inner:after {
	content: "No";
	padding-right: 12px;
	background-color: #EEEEEE; color: #999999;
	text-align: right;
}
.onoffswitch-switch {
	display: block; width: 16px; margin: 7px;
	background: #FFFFFF;
	position: absolute; top: 0; bottom: 0;
	right: 67px;
	border: 2px solid #999999; border-radius: 20px;
	transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
	margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
	right: 0px;
}

/*
end toggle button style
 */


.user-role {
	border-radius: 50px;
}

#topRankStudent {
	text-align: center;
	color: #1abc9c;
	margin-bottom: 30px;
}

input, textarea {
	border-radius: 5px;
}

.i_correct {
	display: none;
}


.radius-250 {
	border-radius: 250px;
}





